<%= simple_form_for(Comment.new) do |f| %>
  <%= f.error_notification %>
  	Comment: (Flavored with <a href="http://daringfireball.net/projects/markdown/", target='_blank'>markdown</a>)<br>
    <%= f.text_area :contents, :rows => 6, :class => "span12", oninput: "this.editor.update()" %><br>
    <div class="well" id="preview"></div>
    <%= hidden_field_tag(:post, @post.id) %>
    <%= f.button :submit %>
<% end %>

<script>
  function Editor(input, preview) {
  this.update = function () {
  preview.innerHTML = markdown.toHTML(input.value);
  };
    input.editor = this;
    this.update();
  }
  var $ = function (id) { return document.getElementById(id); };
  new Editor($("comment_contents"), $("preview"));
</script>
