<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    Title:<br>
    <%= f.text_field :title, :class => "span6" %><br>
    
    Contents: (Flavored with <a href="http://daringfireball.net/projects/markdown/", target='_blank'>markdown</a>)<br>
    <%= f.text_area :description, :class => "span12", rows: 10, oninput: "this.editor.update()" %>

    <div class="well" id="preview"></div>
    
    
    <% if @board.blank? %>
      Type<br>
      <%= f.select :board, [['Link','links'],['Request','requests'],['Forum Post','forums']] %>
    <% else %>
      <%= hidden_field_tag(:board, @board) %>
    <% end %>

    
    <% if @category.blank? %>
      <br>Category<br>
      <%= f.select :category, categories.map {|c| [c.capitalize, c]} %>
    <% else %>
      <%= hidden_field_tag(:category, @category) %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  function Editor(input, preview) {
  this.update = function () {
  preview.innerHTML = markdown.toHTML(input.value);
  };
    input.editor = this;
    this.update();
  }
  var $ = function (id) { return document.getElementById(id); };
  new Editor($("post_description"), $("preview"));
</script>

