<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    Title:<br>
    <%= f.text_field :title, :class => "span6" %><br>
    Contents: (Flavored with <%= link_to "markdown", "http://daringfireball.net/projects/markdown/" %>)
    <%= f.text_area :description, :class => "span12" %>
    Type<br>
    <%= f.select :board, [['Link','links'],['Request','requests'],['Forum Post','forums']] %>
    <br>Category<br>
    <%= f.select :category, categories.map {|c| [c.capitalize, c]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
