<h2>
	<%= @board.capitalize %><%= ": #{@category.capitalize}" unless @category.blank? %> 
	<small class="pull-right">
		<a href="/<%= @board %>/new<%= "?in=#{@category}" unless @category.blank? %>" >Make New <%= @board.chomp('s').capitalize %></a>
	</small>
</h2>

<%= render :partial => "posts/posts_table", :locals => {:posts => @posts} %>

<br />