<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>

<table class="table table-bordered">
  <tr>
    <td>
      <h4><%= link_to User.find(@post.user).name, "/users/#{@post.user}" %></h4>
      Type: <%= @post.board %><br>
      Score: <%= @post.score %><br>
      Category: <%= @post.category %>
    </td>
    <td width="80%">
      <%= @post.descHTML.html_safe %>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', "/#{@post.board}" %>
