<p id="notice"><%= notice %></p>

<h2><%= @post.title %>
  <small class="pull-right">
    <%= "#{link_to 'Edit', edit_post_path(@post)} |".html_safe if @post.user.to_i == current_user.id %>
    <%= link_to 'Back', :back %>
  </small>
</h2>

<table class="table table-bordered">
  <tr>
    <td>
      <% user = User.find(@post.user) %>
      <h4><%= link_to user.name, "/users/#{@post.user}" %></h4>
      <%= image_tag(user.image_url, :width => '128px') unless user.image_url.blank? %>
      Posted on: <%= @post.created_at.strftime("%H:%M %D") %><br>
      <%= "Edited on: #{@post.updated_at.strftime("%H:%M %D")}" if @post.updated_at != @post.created_at %>
      Type: <%= @post.board %><br>
      Score: <%= link_to "-", "/posts/#{@post.id}/edit?score=minus" %> <%= @post.score %> <%= link_to "+", "/posts/#{@post.id}/edit?score=plus" %><br>
      Category: <%= @post.category %>
    </td>
    <td width="80%">
      <%= sanitize(@post.descHTML).html_safe %>
    </td>
  </tr>

  <% @post.comments.each do |c| %>
    <tr>
      <td>
        <% user = User.find(c.user) %>
        <h4><%= link_to user.name, "/users/#{c.user}" %></h4>
        <%= image_tag(user.image_url, :width => '128px') unless user.image_url.blank? %>
        Posted on: <%= c.created_at.strftime("%H:%M %D") %></br>
        <%= "Edited on: #{c.updated_at.strftime("%H:%M %D")}" if c.updated_at != c.created_at %>
      </td>
      <td width="80%">
        <%= sanitize(c.contHTML).html_safe %>
      </td>
    </tr>
  <% end %>
</table>

<%= render :partial => 'comments/form' %>