<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Watlinks" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Watlinks" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <% if user_signed_in? %>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="page-header">
              <a class="pull-right hidden-desktop btn btn-navbar disabled" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-list" style="font-size:20px;"></i></a>
              <h1>
                Watlinks <small>because nolinks is ugly </small>
              </h1>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2">
            <%= render 'layouts/navlist' %>
          </div>
          <div class="span9">
            <%= yield %>
          </div>
        </div>
        <footer class="hidden-phone">
          <br><br>
          <font class="pull-right" style="color:#eee;">Watlinks | 2013</font>
          <br><br>
        </footer>
      </div>


    <% else %>

<!-- You'll find no secrets here. -->
<div class="navbar navbar-fixed-top">
<nav class="navbar-inner">
<div class="container">
<%= render 'layouts/login' %>
</div>
</nav>
</div>
<div id="main" role="main">
<div class="container">
<%= yield %>

</div>
</div>

    <% end %>
    
  </body>
</html>
