<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails3 Bootstrap Devise Cancan" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Bootstrap Devise Cancan" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <% if user_signed_in? %>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="page-header">
              <h1>
                Watlinks <small>because nolinks is ugly</small>
              </h1>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2">
            <ul class="nav nav-list">
              <li><a href="/">Home</a></li>
              <li class="nav-header">Posts</li>

              <li><a href="/links">Links</a></li>
              <% if request.fullpath.include?('links') %>
                <ul class="nav nav-list">
                  <% categories.each do |c| %>
                    <li><%= link_to c.capitalize, "/links/#{c}" %></li>
                  <% end %>
                </ul>
              <% end %>

              <li><a href="/requests">Requests</a></li>
              <% if request.fullpath.include?('requests') %>
                <ul class="nav nav-list">
                  <% categories.each do |c| %>
                    <li><%= link_to c.capitalize, "/requests/#{c}" %></li>
                  <% end %>
                </ul>
              <% end %>

              <li><a href="/forums">Forums</a></li>
              <% if request.fullpath.include?('forums') %>
                <ul class="nav nav-list">
                  <% categories.each do |c| %>
                    <li><%= link_to c.capitalize, "/forums/#{c}" %></li>
                  <% end %>
                </ul>
              <% end %>


              <li class="nav-header">Account</li>
              <li><%= link_to "My Profile", current_user %></li>
              <li><a href="#">Send Invite (0)</a></li>
              <li class="nav-header">Read This</li>
              <li><a href="/rules">Rules</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/blog">Dev Blog</a></li>
              <li class="nav-header"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </div>
          <div class="span9">
            <%= yield %>
          <footer>
            <br><br><br><%= request.fullpath %>
          </footer>
          </div>
        </div>
      </div>


    <% else %>
<!-- You'll find no secrets here. -->
<div class="navbar navbar-fixed-top">
<nav class="navbar-inner">
<div class="container">
<%= render 'layouts/login' %>
</div>
</nav>
</div>
<div id="main" role="main">
<div class="container">
<%= render 'layouts/messages' %>
<%= yield %>

</div>
</div>

    <% end %>
    
  </body>
</html>
